@import '~bootstrap/scss/bootstrap';
@import 'modules/frontend_test';
@import 'modules/tables';

/* stylelint-disable */
.pagination {
  @extend .float-right;
}
/* stylelint-enable */

mark {
  background-color: #ffed94;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.dropdown > a:focus {
  box-shadow: none;
  outline: none;
}
