/ frozen_string_literal: true

- nav_items.each do |nav_item|
  - @nav_item = nav_item

  - if nav_item.key?(:dropdown_items)
    li class="dropdown nav-item"
      a [
        id="userDropdown"
        href="#"
        class="nav-link dropdown-toggle"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      ] = nav_item[:title]

      div [
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="userActionsDropdown"
      ]
        - nav_item[:dropdown_items].each do |dropdown_item|
          = link_to dropdown_item[:title],
            dropdown_item[:path],
            method: dropdown_item[:method],
            class: 'dropdown-item'

  - else
    li class="nav-item#{active_class}"
      = link_to nav_item[:title], nav_item[:path], class: 'nav-link'
