/ frozen_string_literal: true

ul class="navbar-nav"
  li class="dropdown nav-item"
    a [
      id="localesDropdown"
      href="#"
      class="nav-link dropdown-toggle"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    ] = I18n.locale.upcase

    div [
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="localesDropdown"
    ]
      - I18n.available_locales.each do |locale|
        = link_to locale_name(locale).capitalize,
          url_for(locale: locale),
          class: 'dropdown-item'

  li class="dropdown nav-item"
    a [
      id="userDropdown"
      href="#"
      class="nav-link dropdown-toggle"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    ] User

    div [
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="userActionsDropdown"
    ]
      = link_to fa_icon('power-off', text: 'Sign out', size: 'sm'),
        destroy_user_session_path,
        method: :delete,
        class: 'dropdown-item'
