/ frozen_string_literal: true

ruby:
  available_locales = []
  I18n.available_locales.each do |available_local|
    available_locales << {
      title: locale_name(available_local).capitalize,
      path: url_for(locale: available_local)
    }
  end

  nav_items = [
    {
      title: I18n.locale.upcase,
      dropdown_items: available_locales
    },
    {
      title: current_user.present? ? current_user.full_name : nil,
      dropdown_items: [
        {
          title: fa_icon('power-off', text: 'Sign out', size: 'sm'),
          path: destroy_user_session_path,
          method: :delete
        }
      ]
    }
  ]

ul class="navbar-nav"
  == render 'application/navigation/nav_items', nav_items: nav_items
