/ frozen_string_literal: true

ruby:
  header = {
    title: t("models.#{model_plural_symbol}.more"),
    icon: model_icon(model_plural_symbol)
  }

  action_buttons = [
    new_button
  ]

- breadcrumb :items

== render 'application/components/header',
  resource: @items,
  pagy: @pagy,
  query: @query,
  main_header: true,
  header: header,
  search: true,
  primary_buttons: nil,
  action_buttons: action_buttons,
  header_buttons: nil,
  link_buttons: nil

ruby:
  thead = [
    search_icon(t('tables.headings.name')),
    search_icon(t('tables.headings.email')),
    t('models.roles.one')
  ]

  tbody = []
  @items.each do |item|
    @item = item

    tbody << {
      title: item.full_name,
      cells: [
        highlight(item.full_name, @query),
        highlight(item.email, @query),
        item.role.to_s.titleize
      ],
      buttons: [
        ellipsis_button(
          role_button,
          edit_button,
          dropdown_separator,
          destroy_button
        )
      ],
      detail_path: path_for(:show)
    }
  end

== render 'application/components/index_table', thead: thead, tbody: tbody
== render 'application/components/footer', pagy: @pagy
