ruby:
  header = {
    title: t("models.#{model_plural_symbol}.more"),
    icon: model_icon(model_plural_symbol)
  }

  action_buttons = [
    new_button
  ]

== render 'application/components/header',
  resource: @items,
  main_header: true,
  header: header,
  search: true,
  primary_buttons: nil,
  action_buttons: action_buttons,
  header_buttons: nil,
  link_buttons: nil
